body {
}

.card {
    padding: 0;
    width:100%;
    height:100%;
}

.card-body:hover {
    background-color: #0D6EFD;
}

.card-body{
    border: 1px solid gray;
    height:100%;
    width:100%;
}

.container-other:hover{
    background-color: white;
}