html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

label{
    font-size: 24px;
}

p {
    font-size: 24px;
}

div {
    font-size: 24px;
}

.btn {
    font-size: 24px;
}

.form-control {
    font-size: 24px;
}

h1 {
    font-size: 37px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}