@model WebApplication4.Models.Accident

<link rel="stylesheet" href="~/css/probability.css" asp-append-version="true" />

<div class="form-group" style="margin: 10px; padding: 5px;">
    <label asp-for="Probability" class="control-label" style="font-size: 20px;" id="probabId">Probabilité d'occurence: 0%</label>
    <div class="hover-text">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
        </svg>
        <span class="tooltip-text" id="bottomSpanTooltip">
            <p style="list-style: none;">
                Quelle est la probabilité que cet accident puisse se reproduire?
            </p>
        </span>
    </div>
    <input type="range" class="range form-control tabulation_needed" asp-for="Probability" step="20" value="0" min="0" max="100" onChange="rangeSlideProba(this.value)" onmousemove="rangeSlideProba(this.value)" onfocusout="saveLocally('Probability')" />
    <span asp-validation-for="Probability" class="text-danger"></span>
</div>

<div class="form-group" style="margin: 10px;" padding: 5px;>
    <label asp-for="Gravity" class="control-label" style="font-size: 20px;" id="gravitId">Gravité des pertes: 0%</label>
    <div class="hover-text">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
        </svg>
        <span class="tooltip-text" id="bottomSpanTooltip">
            <p style="list-style: none;">
                Quelle est la gravité des pertes économiques?
            </p>
        </span>
    </div>
    <input type="range" class="range form-control tabulation_needed" asp-for="Gravity" step="20" value="0" min="0" max="100" onChange="rangeSlideGrvi(this.value)" onmousemove="rangeSlideGrvi(this.value)" onfocusout="saveLocally('Gravity')" />
    <span asp-validation-for="Gravity" class="text-danger"></span>
</div>

<script type="text/javascript">
    function rangeSlideProba(value) {
        document.getElementById('probabId').innerHTML = "Probabilité d'occurence: " + value + "%";
    }

    function rangeSlideGrvi(value) {
        document.getElementById('gravitId').innerHTML = "Gravité des pertes: " + value + "%";
    }
</script>